{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="{%static  'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap">
    <link rel="stylesheet" href="{%static  'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/typicons.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/abtus.css' %}">
    <link rel="stylesheet" href="{%static 'css/Bold-BS4-Footer-Simple.css' %}">
    <link rel="stylesheet" href="{%static 'css/Carousel-Hero.css' %}">
    <link rel="stylesheet" href="{%static 'css/cart_bag.css' %}">
    <link rel="stylesheet" href="{%static 'css/category1.css' %}">
    <link rel="stylesheet" href="{%static 'css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{%static 'css/Horizontal-Scroll.css' %}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1-1.css' %}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{%static 'css/Loginbag-empty.css' %}">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{%static 'css/Not-login.css' %}">
    <link rel="stylesheet" href="{%static 'css/product_details_1_1.css' %}">
    <link rel="stylesheet" href="{%static 'css/product_details_1.css' %}">
    <link rel="stylesheet" href="{%static 'css/product-view.css' %}">
    <link rel="stylesheet" href="{%static 'css/sign-in.css' %}">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="stylesheet" href="{%static 'css/Team-Grid.css' %}">
</head>

<body>
    <section class="card-section-imagia" style="text-align: center;">
        <h1 style="font-family: 'IM Fell English SC', serif;font-size: 60px;">Our Team</h1>
        <h2 style="font-family: Bitter, serif;">"Nothing is impossible when we are together"</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{%static 'img/images%20(1).jpg' %}"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="{%static 'img/filename%20(4).jpg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="font-family: Rancho, serif;font-size: 30px;color: #b3375b;">Shreya Agrawal</h3>
                                    <p class="subtitle-imagia" style="font-family: Abel, sans-serif;font-size: 15px;margin: 10px 0 25px 0;color: #ffa3b2;border-color: #fc758e;">Consistent Developer</p>
                                    <p class="text-center" style="font-family: Bitter, serif;font-size: 13px;"><br>"To win big, you must have to take big risks."<br><br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="font-family: Volkhov, serif;">Shreya Agrawal</h3>
                                        <p class="text-center" style="font-family: Abel, sans-serif;">To associate myself with an organization to prove my
                                            innovative skills and to work in a position where my
                                            skills and knowledge are utilized in the best possible
                                            way, which should provide me with an opportunity for
                                            growth in my professional career and to contribute to
                                            the growth of the organization.
                                            </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-instagram" style="color: var(--bs-pink);">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                                                <circle cx="12" cy="12" r="3"></circle>
                                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
                                            </svg></a><a href="#"><i class="fa fa-linkedin" style="color: #0072c6;"></i></a><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github" style="color: var(--bs-gray-900);">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{%static 'img/images%20(1).jpg' %}"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="{%static 'img/filename%20(1).jpg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="font-size: 30px;font-family: Rancho, serif;color: #b3375b;">Rakshanda Giri</h3>
                                    <p class="subtitle-imagia" style="margin: 10px 0 20px 0;font-family: Abel, sans-serif;color: #ffa3b2;font-size: 15px;">Creative Designer</p>
                                    <p class="text-center" style="font-family: Bitter, serif;font-size: 13px;"><br>"Design is intelligence made visible."<br><br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="font-family: Volkhov, serif;">Rakshanda Giri</h3>
                                        <p class="text-center" style="font-family: Abel, sans-serif;">Student in Software Engineering with experience
                                            and extensive education in Software designing
                                            and web development. A fast learner with time
                                            management and multi-tasking skills.
                                            </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-instagram" style="color: var(--bs-pink);">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                                                <circle cx="12" cy="12" r="3"></circle>
                                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
                                            </svg></a><a href="#"><i class="fa fa-linkedin" style="color: #0072c6;"></i></a><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github" style="color: var(--bs-gray-900);">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{%static 'img/images%20(1).jpg' %}"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="{%static 'img/shrutika1%20(1).jpeg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="font-family: Rancho, serif;font-size: 30px;color: #b3375b;">Shrutika Mahajan</h3>
                                    <p class="subtitle-imagia" style="margin: 10px 0 20px 0;font-size: 15px;font-family: Abel, sans-serif;color: #ffa3b2;">Software Developer</p>
                                    <p class="text-center" style="font-family: Bitter, serif;font-size: 13px;"><br>“First, solve the problem. Then, write the code.”<br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="font-family: Volkhov, serif;">Shrutika Mahajan</h3>
                                        <p class="text-center" style="font-family: Abel, sans-serif;">To work in an environment where my
                                            skills and knowledge reflects the growth
                                            of company an enhance my knowledge
                                            as well as experience.
                                            </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-instagram" style="color: var(--bs-pink);">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                                                <circle cx="12" cy="12" r="3"></circle>
                                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
                                            </svg></a><a href="#"><i class="fa fa-linkedin" style="color: #0072c6;"></i></a><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github" style="color: var(--bs-gray-900);">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 80px 0 40px 100px;margin-top: 51px;text-align: center;">
            <div id="form-div" style="margin: 100px 0 0 0;margin-right: 50px;margin-left: 50px;background: #eccac9;box-shadow: 3px 3px 20px 5px #b3375b; isolation:isolate;">
                <form method="post">
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center" style="font-family: 'IM Fell English SC', serif;font-size: 60px;font-weight: bold;padding: 10px 0px 0px 0px;"><strong>Feedback</strong></h1>
                            </div>
                        </div>
                        <hr id="hr" style="background-color:#c3bfbf;">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
                                <p style="font-family: Kreon, serif;font-size: 22px;text-align: left;"><strong>Email id</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2"><input class="form-control" type="email" style="font-size: 15px;font-family: 'Abhaya Libre', serif;border-width: 0px;border-color: #b3375b;" name="email"></div>
                        </div>
                        <div class="row" style="font-family:Armata, sans-serif;margin-top:10px;">
                            <div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
                                <p style="font-family: Kreon, serif;font-size: 22px;text-align: left;"><strong>Feedback </strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2"><textarea class="form-control" style="font-family: 'Abhaya Libre', serif;font-size: 15px;border-width: 3px;border-color: #b3375b;" name="feedback" maxlength="250" rows="7"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
                                <p class="text-end" style="font-family:Armata, sans-serif;"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 col-sm-5 col-md-4 offset-1 offset-sm-4 offset-md-5" style="text-align: left;margin: 20px 0 0 550px;"><button class="btn btn-warning" style="font-family: Armata, sans-serif;font-size: 14px;color: #eccac9;background: #000000;text-align: left;border-width: 2px;border-color: #eccac9;" type="reset">Reset </button><button class="btn btn-success" id="submit-btn" style="font-family: Armata, sans-serif;font-size: 14px;color: #eccac9;background: #b3375b;border-color: #000000;" type="submit">Submit </button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="script.js"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bs-init.js"></script' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>