{% extends "navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <title style="font-family: 'Arial Narrow'">Clothiify :The look you need, The convenience you crave </title>
    <link rel="shortcut icon" href="{% static 'img/icon-light-removebg-preview.png' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/typicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/abtus.css'%}">
    <link rel="stylesheet" href="{%static 'css/Bold-BS4-Footer-Simple.css'%}">
    <link rel="stylesheet" href="{%static 'css/Carousel-Hero.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart_bag.css'%}">
    <link rel="stylesheet" href="{%static 'css/category1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Header-Dark.css'%}">
    <link rel="stylesheet" href="{%static 'css/Horizontal-Scroll.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1-1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{%static 'css/Loginbag-empty.css'%}">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Search.css'%}">
    <link rel="stylesheet" href="{%static 'css/Not-login.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product-view.css'%}">
    <link rel="stylesheet" href="{%static 'css/sign-in.css'%}">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/Team-Grid.css'%}">
</head>

<body style="text-align: justify;font-family: 'IM Fell English SC', serif;">
{% block content %}
    <div class="row">
        <div class="col">
            <div class="intro">
                <h2 class="text-center" style="font-family: Rancho, serif;font-size: 60px;color: rgb(179,55,91);margin: 100px 0 60px 0;">Brand</h2>
            </div>
            <footer id="myFooter" style="padding:0px;"></footer>
            <section class="team-grid">
                <div class="container">
                    <div class="intro"></div>
                    <div class="row people" style="margin: 0 0 0px 0;padding: 0 0 0 0 ;" onclick="location.href='products_view.html'">
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background: url({% static 'img/globus.jpg' %}) no-repeat;background-size: auto;margin: 0 0 0 0px;border-width: 2px;border-style: solid;">
                                <div class="cover" style="background: rgba(0,0,0,0.85);">
                                    <p class="title" style="color: #eccac9;margin: -50px 0 0 0;"><br><strong>FASHION FOR CHANGING WORLD</strong><br><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background: url({% static 'img/biba.png' %}) no-repeat;background-size: contain;border-width: 2px;border-style: solid;">
                                <div class="cover" style="background: rgba(0,0,0,0.85);">
                                    <p class="title" style="color: #eccac9;margin: -50px 0 0 0 ;"><br><strong>CHANGE IS BEAUTIFUL</strong><br><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background: url({% static 'img/h&m.png' %}) no-repeat;border-width: 2px;border-style: solid;">
                                <div class="cover" style="background: rgba(0,0,0,0.85);">
                                    <p class="title" style="color: #eccac9;margin: -50px 0 0 0 ;"><br><strong>HENNES &amp; MAURITZ</strong><br><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background: url({% static 'img/levis.jpg' %}) no-repeat;border-width: 2px;border-style: solid;">
                                <div class="cover" style="background: rgba(0,0,0,0.85);">
                                    <p class="title" style="color: #eccac9;margin: -50px 0 0 0;"><br><strong>LIVE IN LEVI'S</strong><br><br><br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="myFooter" style="padding:0px;"></footer>
        </div>
    </div>
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-3" style="margin: 40px 20px 0px 20px;">
        <div class="carousel-inner" style="background: #eccac9;border-width: 10px;border-style: dashed;">
             {% for bestoffer in bestoffers %}
            <div class="carousel-item active" style="font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
            style="text-align: center;background: url('media/{{bestoffer.img1}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px #b3375b;">
                    <label class="form-label" style="margin: 60px 0 0 970px;width: 200px;height: 100px;color: #000000;font-size: 75px;">Best&nbsp;</label><label class="form-label" style="margin: -30px 0 0 1065px;width: 240px;height: 120px;color: #000000;font-size: 100px;">&nbsp;Offers</label><button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 70px 0 0 1130px;background: #b3375b;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;border-width: 2px;border-color: #000000;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
            <div class="carousel-item" style="width: 1336px;height: 499px;background: #eccac9;font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
                     style="text-align: center;background: url('media/{{bestoffer.img2}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px #b3375b;"><label class="form-label" style="margin: 60px 0 0 970px;width: 200px;height: 100px;color: #000000;font-size: 75px;">Best&nbsp;</label><label class="form-label" style="margin: -30px 0 0 1065px;width: 240px;height: 120px;color: #000000;font-size: 100px;">&nbsp;Offers</label><button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 70px 0 0 1130px;background: #b3375b;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;border-width: 2px;border-color: #000000;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
            <div class="carousel-item" style="width: 1336px;height: 499px;background: #eccac9;font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
                     style="text-align: center;background: url('media/{{bestoffer.img3}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px #b3375b;"><label class="form-label" style="margin: 60px 0 0 970px;width: 200px;height: 100px;color: #000000;font-size: 75px;">Best&nbsp;</label><label class="form-label" style="margin: -30px 0 0 1065px;width: 240px;height: 120px;color: #000000;font-size: 100px;">&nbsp;Offers</label><button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 70px 0 0 1130px;background: #b3375b;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;border-width: 2px;border-color: #000000;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
            {% endfor %}
        </div>
        <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
        </ol>
    </div>
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="margin: 40px 20px 0px 20px;">
        <div class="carousel-inner" style="background: #b3375b;border: 15px double var(--bs-white) ;">
    {% for trend in trends %}
            <div class="carousel-item active" style="font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
                     style="text-align: center;background: url('media/{{trend.img1}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px var(--bs-white);margin: 0 0 0 516px;">
                    <label class="form-label" style="margin: 0px 0 0 -1530px;font-size: 23px;">Leading</label><label class="form-label" style="font-size: 70px;margin: 10px 0 0 0px;font-family: 'Kaushan Script', serif;">Trends</label>
                    <button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 300px 0 0 -170px;background: #eccac9;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;color: #000000;border: 2px solid #fcfeff ;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
            <div class="carousel-item" style="font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
                     style="text-align: center;background: url('media/{{trend.img2}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px var(--bs-white);margin: 0 0 0 516px;"><label class="form-label" style="margin: 0px 0 0 -1530px;font-size: 23px;">Leading</label><label class="form-label" style="font-size: 70px;margin: 10px 0 0 0px;font-family: 'Kaushan Script', serif;">Trends</label><button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 300px 0 0 -170px;background: #eccac9;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;color: #000000;border: 2px solid #fcfeff ;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
            <div class="carousel-item" style="font-family: Almendra, serif;">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" data-bss-hover-animate="pulse"
                     style="text-align: center;background: url('media/{{trend.img3}}') no-repeat, var(--bs-gray-800);height: 500px;width: 890px;background-size: cover, auto;box-shadow: 0px 2px 17px 6px var(--bs-white);margin: 0 0 0 516px;"><label class="form-label" style="margin: 0px 0 0 -1530px;font-size: 23px;">Leading</label><label class="form-label" style="font-size: 70px;margin: 10px 0 0 0px;font-family: 'Kaushan Script', serif;">Trends</label><button onclick="location.href='product_details.html'" class="btn btn-primary" type="button" style="margin: 300px 0 0 -170px;background: #eccac9;width: 120px;height: 45px;font-size: 19px;font-family: Bitter, serif;font-weight: bold;color: #000000;border: 2px solid #fcfeff ;">Buy&nbsp; &nbsp;Now</button></div>
            </div>
{% endfor %}
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}></script>
    <script src="{%static 'js/bs-init.js'%}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
{% endblock %}
</body>

</html>