{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/typicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/abtus.css'%}">
    <link rel="stylesheet" href="{%static 'css/Bold-BS4-Footer-Simple.css'%}">
    <link rel="stylesheet" href="{%static 'css/Carousel-Hero.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart_bag.css'%}">
    <link rel="stylesheet" href="{%static 'css/category1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Header-Dark.css'%}">
    <link rel="stylesheet" href="{%static 'css/Horizontal-Scroll.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1-1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{%static 'css/Loginbag-empty.css'%}">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Search.css'%}">
    <link rel="stylesheet" href="{%static 'css/Not-login.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product-view.css'%}">
    <link rel="stylesheet" href="{%static 'css/sign-in.css'%}">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/Team-Grid.css'%}">
</head>
<body>
    <footer data-aos="slide-up" data-aos-once="true" id="myFooter" style="padding:0px;border: 3px solid #b3375b;margin: 40px 0 0 0;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <ul class="list-unstyled" style="margin: 19px 0 19px 0 ;">
                        <li><a href="#" style="font-family: Kreon, serif;">About Us</a></li>
                        <li><a href="#" style="font-family: Kreon, serif;">Contact Us</a></li>
                        <li><a href="#" style="font-family: Kreon, serif;">Terms</a></li>
                        <li><a href="#" style="font-family: Kreon, serif;">Home</a></li>
                    </ul>
                </div>
                <div class="col footer-social" style="background: #eccac9;border-style: none;"><a class="social-icons" href="#"><i class="fa fa-facebook"></i></a><a class="social-icons" href="#"><i class="fa fa-google-plus"></i></a><a class="social-icons" href="#"><i class="fa fa-twitter"></i></a><a class="social-icons" href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>