{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    function email(){
    var regName =/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var name = document.getElementById("e1").value;
    if(!regName.test(name)) {
        document.getElementById("d1").innerHTML="Enter valid email";
        document.getElementById("d1").style.color="#b3375b";
    }
    else
        document.getElementById("d1").innerHTML=" ";
}
function finalchk()
{
    {#alert("i am final check");#}
    var regName =/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var name = document.getElementById("e1").value;
    if(name.match(regName)) {
        return true;
        }
    alert("i am turned false");
    document.getElementById("e1").value="";
    document.getElementById("pass").value="";
    return false;
}
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title style="font-family: 'Arial Narrow'">Clothiify :The look you need, The convenience you crave </title>
    <link rel="shortcut icon" href="{% static 'img/icon-light-removebg-preview.png' %}">
    <link rel="stylesheet" type="text/html" href="{% static 'bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/typicons.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome5-overrides.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/abtus.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Bold-BS4-Footer-Simple.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Carousel-Hero.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart_bag.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category1.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header-Dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Horizontal-Scroll.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Hover-Button-1-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Hover-Button-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Loginbag-empty.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Not-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_details_1_1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_details_1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-view.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-in.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Team-Grid.css' %}">
</head>
<body>
    <section class="login-clean" style="background: #eccac9;">
        <form name="login_form" method="post" onsubmit="return finalchk()" action="./LoggedIn" style="background: rgba(255,255,255,0.36);box-shadow: 10px 0px 17px 5px #b3375b;border-radius: 8px;width: 1524px;">
             {% csrf_token %}
{#        {% if not user %}#}
{#                <script>alert("Oops! credentials don't match")</script>#}
{#        {% endif %}#}
            <div class="illustration"><img src="{% static 'img/icon-light-removebg-preview.png' %}" style="font-size: 80px;width: 300px;margin: -25px 0 0 -30px;"></div>
            <pre><label class="form-label" style="font-family: Almendra, serif;font-weight: bold;margin-left: 5%">Email </label></pre>
            <center>
                 <input class="form-control" id="e1" onkeydown="email()" name="user_email" required type="text" style="width:90%;margin: 0 0 15px 0;font-family: Acme, sans-serif;" >
                <div id="d1" style="font-size: 14px;text-align: left;margin-left: 12px">
                </div>
            </center>
            <div class="mb-3">

{#                    <label class="form-label" style="font-family: Almendra,serif;font-weight:bold;margin-left: 5%;margin-bottom: 40px">Password</label>#}
<pre><label class="form-label" style="font-family: Almendra, serif;font-weight: bold;margin-left: 5%">Password </label></pre>
                <center>
                    <input id="pass" class="form-control" minlength="6" maxlength="6" type="password"  name="user_password" required style="width:90%;border-radius: 8px;font-family: Acme, sans-serif;">
                </center>
            </div>

                <center>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="width:90%;background: #b3375b;font-family: Rancho, serif;font-size: 30px;color: white">Log In</button>
                    </div>
                </center>
            <br><a class="forgot" href="./SignUp" style="font-family: 'Abhaya Libre', serif;font-size: 14px;">Dont'have an Account Sign In</a>
        </form>
    </section>
</body>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/bs-init.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>