{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/typicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/abtus.css'%}">
    <link rel="stylesheet" href="{%static 'css/Bold-BS4-Footer-Simple.css'%}">
    <link rel="stylesheet" href="{%static 'css/Carousel-Hero.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart_bag.css'%}">
    <link rel="stylesheet" href="{%static 'css/category1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Header-Dark.css'%}">
    <link rel="stylesheet" href="{%static 'css/Horizontal-Scroll.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1-1.css'%}">
    <link rel="stylesheet" href="{%static 'css/Hover-Button-1.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{%static 'css/Loginbag-empty.css'%}">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Search.css'%}">
    <link rel="stylesheet" href="{%static 'css/Not-login.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_details_1.css'%}">
    <link rel="stylesheet" href="{%static 'css/product-view.css'%}">
    <link rel="stylesheet" href="{%static 'css/sign-in.css'%}">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/Team-Grid.css'%}">
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding: 30px 0 0 0;font-family: 'IM Fell English SC', serif;font-size: 60px;margin: 40px 0 30px 0;">Your Order's</h2>
                    <div class="gift row" style="margin: 30px 0 30px 0;border-color: #eccac9;box-shadow: 2px 2px 16px 6px #eccac9;">
                        <div class="gift__img col-sm-3 col-12" style="border-width: 2px;border-color: #eccac9;"><img src="{%static 'img/your%20oders.jpeg'%}">
                            <div class="gift__rating"><span data-animation="animated fadeInLeft" style="font-family: roboto;padding: 0 0px 0 0;">4.4</span><i class="fa fa-star"></i></div>
                        </div>
                        <div class="gift__info col-sm-9 col-12">
                            <h4 class="gift__name" style="font-family: 'Abhaya Libre', serif;font-size: 35px;color: #b3375b;">Flare Brown&nbsp;<br></h4>
                            <div class="gift__details">
                                <p style="font-family: Bitter, serif;">Women fit, party wear look single piece.&nbsp;</p>
                            </div>
                            <div class="gift__bottom row">
                                <div class="gift__price-wrap col-12 col-sm-6">
                                    <div class="gift__normal-price"></div>
                                    <div class="gift__today-price"></div>
                                    <h3 class="gift__name" style="font-family: Abel, sans-serif;">Colour&nbsp; :&nbsp; &nbsp;Black</h3>
                                    <h3 class="gift__name" style="font-family: Abel, sans-serif;">Price&nbsp; &nbsp;:&nbsp; &nbsp;Rs. 2250</h3>
                                </div>
                                <div class="gift__cta-wrap col-12 col-sm-6" style="width: 300px;margin: 40px 0 0 10px;"><a class="flux_cta gift__cta" target="_blank" href="#" style="width: 250px;height: 55px;background: #e2e2e2;font-size: 19px;border-color: #b3375b;color: #b3375b;border-radius: 0px;font-family: 'Abhaya Libre', serif;">Purchase Date : 19-02-22</a><a class="flux_cta gift__cta" target="_blank" href="#" style="width: 250px;height: 55px;background: #e2e2e2;font-size: 19px;border-color: #b3375b;color: #b3375b;border-radius: 0px;font-family: 'Abhaya Libre', serif;margin: 15px 0 0 0 ;">Delivered Date : 23-02-22</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>