{% extends "navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title >Clothiify :The look you need, The convenience you crave </title>
    <link rel="shortcut icon" href="{% static 'img/icon-light-removebg-preview.png' %}">
    <link rel="stylesheet" href="../static/product_details_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Artifika&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&amp;display=swap">
    <link rel="stylesheet" href="../static/product_details_assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/Button-Change-Text-on-Hover.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/featured-products-slider-1.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/featured-products-slider.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/icon-star-full.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/Modal-commerce-popup-button-1.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/Modal-commerce-popup-button.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/Product-Viewer-1.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/some-message.css">
    <link rel="stylesheet" href="../static/product_details_assets/css/styles.css">
</head>

<body style="text-align: center;">
{% block content %}
    <div>
        <section >
            <div id="w_shop_105" class="carousel slide w_shop_105_indicators w_shop_105_control_button thumb_scroll_x swipe_x ps_easeOutInCubic" data-ride="carousel" data-pause="hover" data-interval="8000" data-duration="2000" style="background: white;margin: 0 0 50px 0;">
                <div class="w_shop_105_main_header">
                    <h1 style="margin: -60px 0 0 0;"><span style="font-family: 'IM Fell English SC', serif;text-align: right;margin: 0;padding: 0 0 0 0;color: #000000;font-size: 50px;"><strong>{{product.cat_name}}</strong></span></h1>
                </div>
                <div class="carousel-inner" role="listbox" style="margin-top: -45px">
                    <div class="carousel-item active">
                        <div class="col-md-7" style="margin: 0 400px;width: 340px;height: 340px;">
                            <div class="product-image" style="margin:20px 0 0 20px;text-align: center;">
                                <div class="image img-fluid" style="width: 340px;height: 400px;margin: 0 0 0 120px;padding: 0 0 0 0;text-align: center;background: url('media/{{ product.img1}}') no-repeat;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="w_shop_105_left_box" style="height: 400px;width: 300px;margin: -70px 0 0 60px;">
                            <p data-animation="animated fadeInLeft" style="color: #b3375b;font-size: 30px;font-family: Aladin, serif;">{{ product.name }}</p>
                            <p data-animation="animated fadeInLeft" style="font-size: 15px;font-family: Abel, sans-serif;">{{ product.desc }}</p><div><hr></div>
                            {% if product.offer %}
                            <span data-animation="animated fadeInLeft" style="font-family: 'Titillium Web', sans-serif;padding: 0 0 0 0;margin: 10px 0 0 0;">20% offer Applied</span><i class="fa fa-star" style="margin: 0 0 0 8px;color: var(--warning);border-color: var(--indigo);"></i>
                            {% endif %}
                            <form method="get" action="./wishlist">
                            <button type="submit" class="btn btn-primary pull-right" name="prod_id" value="{{ product.id }}" type="button" style="margin: 20px 20px 0 10px;width: 220px;color: #323232;background: #eccac9;height: 55px;font-family: 'Titillium Web', sans-serif;font-size: 18px;font-weight: bold;"><i class="fa fa-heart" style="margin: 0 10px 0 0 ;"></i>&nbsp;Wishlist</button>
                            </form>
                            <form method="get" action="./bag">
                            <button type="submit" name="prod_id" value="{{ product.id }}" class="btn btn-primary pull-right" style="margin: 15px 20px 0 0;width: 220px;background: #b3375b;color: var(--white);height: 55px;font-family: 'Titillium Web', sans-serif;font-weight: bold;font-size: 18px;"><i class="fa fa-shopping-bag" style="margin: 0 10px 0 0 ;"></i>&nbsp;Add To Bag</button>
                            </form>
                        </div> 
                        <div class="w_shop_105_right_box" data-animation="animated fadeInRight" style="margin: 0 0 0 10px;padding: 0;">
                            <ul style="margin: 0 0 150px;padding: 0 0;text-align: left;">
                                <li data-animation="animated fadeInRight" style="font-family: Alatsi, sans-serif;font-size: 20px;color: #e0a4a4;">Colour :&nbsp;<label>{{ product.color }}</label></li>
                                <li data-animation="animated fadeInRight" style="text-align: left;font-family: Alatsi, sans-serif;font-size: 20px;color: #e0a4a4;">Quantity: {{ product.quantity }}</li>
                                {% if product.offer %}
{#                                    <script>#}
{#                                        function cal(op){#}
{#                                        document.getElementById("pricecol").innnerText="Price "+op+(op*20/100) +" "+op;#}
{#                                        }#}
{#                                        cal(40)#}
{#                                    </script>#}
                                    <li id data-animation="animated fadeInRight" id="pricecol" style="text-align: left;font-family: Alatsi, sans-serif;font-size: 20px;color: #e0a4a4;">Price&nbsp; &nbsp;: {{product.price }}</li>
                                {% else %}
                                <li data-animation="animated fadeInRight" style="text-align: left;font-family: Alatsi, sans-serif;font-size: 20px;color: #e0a4a4;">Price&nbsp; &nbsp;: {{ product.price }}</li>
                                {% endif %}
                                <li data-animation="animated fadeInRight">
                                    {% if product.size == "S" %}
                                        <a class="bs4_modal_trigger" href="#" data-modal-id="bs4_sngl_cmrce" data-toggle="modal" style="width: 40px;height: 40px;margin: 10px 0 0 10px;">S</a>
                                    {% elif product.size == "M" %}
                                    <a class="bs4_modal_trigger" href="#" data-modal-id="bs4_sngl_cmrce" data-toggle="modal" style="width: 40px;height: 40px;margin: 10px 0 0 10px;">m</a>
                                    {% elif product.size == "L" %}
                                    <a class="bs4_modal_trigger" href="#" data-modal-id="bs4_sngl_cmrce" data-toggle="modal" style="width: 40px;height: 40px;margin: 10px 0 0 10px;">l</a>
                                    {% elif product.size == "XL" %}
                                    <a class="bs4_modal_trigger" href="#" data-modal-id="bs4_sngl_cmrce" data-toggle="modal" style="width: 50px;height: 40px;margin: 10px 0 0 10px;">xl</a>
                                    {% elif product.size == "XXL" %}
                                    <a class="bs4_modal_trigger" href="#" data-modal-id="bs4_sngl_cmrce" data-toggle="modal" style="width: 60px;height: 40px;margin: 10px 0 0 10px;">xxl</a></li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row product-thumbnails" style="width: 450px;text-align: right;margin: 30px 0 0 500px;height: 100px;">
                    <img class="img-fluid img-thumbnail col-md-3" alt="&quot;" src='media/{{ product.img1}}' style="height: 100px;width: 100px;border-width: 2px;border-color: #323232;padding:0px 0px 0px 0px">
                    <img class="img-fluid img-thumbnail col-md-3" alt="&quot;" src='media/{{ product.img2 }}' style="padding:0px 0px 0px 0px;height: 100px;width: 100px;border-width: 2px;border-color: #323232;">
                    <img class="img-fluid img-thumbnail col-md-3" alt="&quot;" src='media/{{ product.img3}}' style="padding:0px 0px 0px 0px;height: 100px;width: 100px;border-width: 2px;border-color: #323232;">
                    <img class="img-fluid img-thumbnail col-md-3" alt="&quot;" src='media/{{ product.img4 }}' style="padding:0px 0px 0px 0px;height: 100px;width: 100px;border-width: 2px;border-color: #323232;">
                </div>
            </div>
            
        </section>
    </div>

    
{#    <label style="text-align: center;font-size: 40px;font-family: 'IM Fell English SC', serif;">Customer Reviews</label>#}
{#    <div class="wrapper">#}
{#        <div class="container">#}
{#            <div class="row" style="margin: 20px 0 0 90px;width: 100%;text-align: left;">#}
{#                <div class="col-md-10 col-md-1 product" style="margin: 20px 0 20px 0;text-align: justify;background: #b3375b;height: 180px;">#}
{#                    <div class="d-flex" id="some-message" style="box-shadow: 2px 2px 6px 5px #eccac9;margin: 5px 0 0 0 ;">#}
{#                        <div class="content">#}
{#                            <h3 style="font-family: Artifika, serif;font-size: 25px;">Rakshanda Giri</h3>#}
{#                            <p style="font-family: Abel, sans-serif;">The central protagonist of The Legend of Zelda series, Link is the name of various young men who characteristically wear a green tunic and a pointed cap, and are the bearers of the Triforce of Courage. In most games, the player can give Link a different name before the start of the adventure, and he will be referred by that given name throughout by the non-player characters (NPCs).</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-10 col-md-1 product" style="margin: 20px 0 20px 0;text-align: justify;background: #b3375b;height: 180px;">#}
{#                    <div class="d-flex" id="some-message" style="box-shadow: 2px 2px 6px 5px #eccac9;margin: 5px 0 0 0 ;">#}
{#                        <div class="content">#}
{#                            <h3 style="font-family: Artifika, serif;font-size: 25px;">Shreya Agrawal</h3>#}
{#                            <p style="font-family: Abel, sans-serif;">The central protagonist of The Legend of Zelda series, Link is the name of various young men who characteristically wear a green tunic and a pointed cap, and are the bearers of the Triforce of Courage. In most games, the player can give Link a different name before the start of the adventure, and he will be referred by that given name throughout by the non-player characters (NPCs).</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    
   
    <script src="../static/product_details_assets/js/jquery.min.js"></script>
    <script src="../static/product_details_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/product_details_assets/js/featured-products-slider.js"></script>
    <script src="../static/product_details_assets/js/Modal-commerce-popup-button.js"></script>
    <script src="../static/product_details_assets/js/Product-Viewer-1-1.js"></script>
    <script src="../static/product_details_assets/js/Product-Viewer-1.js"></script>
{% endblock %}
</body>

</html>