{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    function email(){
    var x = document.getElementById("ml").value;
    var regName =/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var name = document.getElementById("ml").value;
    if(!regName.test(name))
    {
        document.getElementById("demail").innerHTML="Enter valid email";
        document.getElementById("demail").style.color="#b3375b";
        return false;
    }
    else
    {
        document.getElementById("demail").innerHTML=" ";
    }
}
function allCheck(){
        alert("i am all chk")
       if(document.getElementsById("p1")!=document.getElementById("p2"))
       {
           alert("password mismatched");
            return false;
       }
       else {
           alert("password matched");
           return true;
       }
        {#if (document.getElementsByName("userpass")==document.getElementsByName("password2"))#}
        {#    return true;#}
        {#else#}
        {#    return false;#}
}
function phone(){
    var x = document.getElementById("phn").value;
    var regName = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}$/im;
    var name = document.getElementById("phn").value;
    if(!regName.test(name))
    {
        document.getElementById("dphone").innerHTML="Enter valid phone number";
        document.getElementById("dphone").style.color="#b3375b";
        return false;
    }
    else
    {
        document.getElementById("dphone").innerHTML=" ";
    }
}
function fullName(){
    var x = document.getElementById("nm").value;
    var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
    var name = document.getElementById("nm").value;
    if(!regName.test(name))
    {
        document.getElementById("dname").innerHTML="Enter valid full name";
        document.getElementById("dname").style.color="#b3375b";
        return false;
    }
    else
    {
        document.getElementById("dname").innerHTML=" ";
    }
}
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title style="font-family: 'Arial Narrow'">Clothiify :The look you need, The convenience you crave </title>
    <link rel="shortcut icon" href="{% static 'img/icon-light-removebg-preview.png' %}">
    <link rel="stylesheet" type="text/html" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap' %}" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov&amp;display=swap" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/typicons.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/abtus.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Footer-Simple.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Carousel-Hero.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/cart_bag.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/category1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Header-Dark.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Horizontal-Scroll.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Hover-Button-1-1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Hover-Button-1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Loginbag-empty.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Not-login.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/product_details_1_1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/product_details_1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/product-view.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/Team-Grid.css' %}" type="text/css"/>
</head>
<body>
    <section class="login-clean" style="background: #eccac9;">
        <form method="post"  action="./SignedIn" style="background: rgba(255,255,255,0.36);box-shadow: 10px 0px 17px 5px #b3375b;border-radius: 8px;width: 1524px;">
            {% csrf_token %}
{#            <h2 class="visually-hidden">Login Form</h2>#}
            <div class="illustration"><img src="{% static 'img/icon-light-removebg-preview.png'%}" style="font-size: 80px;width: 300px;margin: -25px 0 0 -30px;"></div>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Full Name</label>&nbsp;&nbsp;
            <input id="nm" class="form-control"  type="text" name="username" required=""  onkeyup="fullName()" style="margin: 0 0 15px 0;font-family: Acme, sans-serif;">
            <div id="dname" style="font-size: 14px"></div><br>
            <div class="mb-3"></div>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Email-ID</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-control" type="email" name="useremail" id="ml" required="" onkeyup="email()" style="margin: 0 0 15px 0;font-family: Acme, sans-serif;">
            <div id="demail" style="font-size: 14px"></div><br>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Password</label>&nbsp;&nbsp;&nbsp;
            <input id="p1" minlength="6" maxlength="6" class="form-control" required="" type="password" name="userpass" style="border-radius: 8px;font-family: Acme, sans-serif;">
            <div  style="font-size: 14px"></div><br>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold; ">Confirm<br> Password</label>&nbsp;&nbsp;&nbsp;
            <input id="p2" minlength="6" maxlength="6" class="form-control" type="password" required="" name="password2" style="margin: 0 0 15px 0;border-radius: 8px;font-family: Acme, sans-serif;"><br>
            <div  style="font-size: 14px"></div><br>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Contact</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="phn" class="form-control" required="" type="number" onkeyup="phone()" name="contact" style="margin: 0 0 15px 0;border-radius: 8px;font-family: Acme, sans-serif;">
            <div id="dphone" style="font-size: 14px"></div><br>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Address</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-control" required="" type="text" name="address" style="margin: 0 0 15px 0;border-radius: 8px;font-family: Acme, sans-serif;"><br>
            <div style="font-size: 14px"></div><br>
            <label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Upload Your Front View Image</label><pre></pre>
            <input class="form-control" type="file" value="Image" accept="image/*" name="filepath"  required="" title="Upload Image" style="margin: 0 0 15px 0;font-family: Abel, sans-serif;font-size: 14px;width: 236px;border-radius: 8px;">
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" type="submit"  onclick="allCheck()" style="background: #b3375b;font-family: Rancho, serif;font-size: 30px;">Sign In</button></div>
{#            <a class="forgot" href="#" style="font-family: 'Abhaya Libre', serif;font-size: 14px;">Forgot your email or password?</a>#}
        </form>
    </section>
    <script src="{% static 'product_details_assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'product_details_assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>
</html>

{#<label class="form-label" style="font-family: Almendra, serif;font-weight: bold;">Choose Your Size</label>#}
{# <div class="btn-group btn-group-toggle" data-bs-toggle="buttons" style="text-align: center;width: 240px;color: var(--bs-gray-600);">#}
{#<label class="form-label btn btn-outline-primary" style="text-align: center;border-color: #b3375b;color: #b3375b;">S<input type="radio" id="btnradio-2" name="btnradio" style="border-width: 1px;border-color: #b3375b;"></label><label class="form-label btn btn-outline-primary" style="text-align: center;border-color: #b3375b;color: #b3375b;">M<input type="radio" id="btnradio-5" name="btnradio" style="border-width: 3px;border-color: #b3375b;"></label><label class="form-label btn btn-outline-primary" style="text-align: center;border-color: #b3375b;color: #b3375b;">L&nbsp;<input type="radio" id="btnradio-4" name="btnradio" style="border-width: 1px;border-color: #b3375b;"></label><label class="form-label btn btn-outline-primary" style="text-align: center;border-color: #b3375b;color: #b3375b;">XL&nbsp;<input type="radio" id="btnradio-1" name="btnradio" style="border-width: 1px;border-color: #b3375b;"></label>#}
{#<label class="form-label btn btn-outline-primary" style="text-align: center;border-color: #b3375b;color: #b3375b;">XXL&nbsp;#}
{#    <input type="radio" id="btnradio-3" name="btnradio" style="border-width: 1px;border-color: #b3375b;"></label></div>#}